:root {
    --text-text-main: hsla(0, 0%, 0%, 1);
    --text-text-caption: hsla(0, 0%, 0%, 0.4);
    --bg-bg-secondary: hsla(0, 0%, 96%, 1);
    --bg-bg-button-light: hsla(0, 0%, 95%, 1);
    --bg-bg-button: hsla(0, 0%, 0%, 1);
    --stroke-light: #E5E7EB;
}

.blog-page {
    padding: 0 0 4rem 0;
}


.blog-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -3%;
    color: var(--text-text-main);
    margin-bottom: 2rem;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .blog-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 430px) {
    .blog-title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 375px) {
    .blog-title {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 320px) {
    .blog-title {
        font-size: 20px;
        line-height: 26px;
    }
}


