:root {
    --text-text-main: hsla(0, 0%, 0%, 1);
}

.catalog-page {
    padding: 0 0 4rem 0;
}


.catalog-page-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -3%;
    color: var(--text-text-main, hsla(0, 0%, 0%, 1));
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .catalog-page-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 430px) {
    .catalog-page-title {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 375px) {
    .catalog-page-title {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 320px) {
    .catalog-page-title {
        font-size: 20px;
        line-height: 26px;
    }
}

