:root {
    --text-text-main: hsla(0, 0%, 0%, 1);
}

.catalog-page {
    padding: 0 0 4rem 0;
}


.catalog-page-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -3%;
    color: var(--text-text-main, hsla(0, 0%, 0%, 1));
    margin-bottom: 2rem;
}

